footer {
  background-color: azure;
  color: black;
  padding: 8px 15px;
  text-align: center;
  font-size: 12px;
  position: relative; /* Keep footer in normal flow */
  width: 100%;
  margin-top: 20px; /* Adds space between the content and footer */
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the container takes the full height */
}

.marks-form {
  flex-grow: 1; /* Allow the form to take the remaining space */
}
