/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */

/* Ensure the dialog overlay is on top of everything */
.cdk-overlay-container {
  position: fixed;
  z-index: 100000 !important; /* Extremely high z-index */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
}

/* Prevent scrolling when the dialog is open */
body.dialog-open {
  overflow: hidden !important;
}

/* Ensure the body and html are not restricted by default */
body, html {
  overflow: visible !important;
}
